*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 105px;
    
}

.element{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  3px solid rgb(146, 185, 201);
    margin: 20px;
}

#cursor{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: rgb(170, 211, 182);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
